* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    padding: 15px;
}

.logo-menu {
    display: flex;
}

.logo-menu>img {
    height: 60px;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.botao-branco {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}

.botao-preto {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}

.botao-loja {
    display: flex;
    align-items: center;
}
.botoes-menu {
    display: flex;
    justify-content: space-between;
}
.card-com-img {
    height: 500px;
}

.card-com-img>div {
    background-color: white;
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.botao-branco:hover {
    background-color: #00a862;
    color: white;
    transition: 0.5s;
    box-shadow: 2px 2px 2px gray;
}
.botao-branco {
    background-color: #00a862;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
}


























.cardi1 {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.cardi1>p {
    margin-bottom: 20px;
    font-size: 15px;
}

.card-com-img {
    display: flex;
    margin-bottom: 20px;
}

.card-com-img>div {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.rodape {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px black;
    padding: 30px;
}